::root {
    --gray: #e2e2e2;
}

$pera: 100vh;

#sidebar {
    height: $pera;
}

#navtop {
    box-shadow: 3px 3px 3px var(--gray);
}

.notifikacija {
    position: relative;
}
.notifikacija .badge {
    position: absolute;
    top: 0px;
    left: 20px;
}

.notifikacija i {
    color: #ccc;
    font-size: 20px;
}

.topbar-divider {
   border-right: 2px solid #ccc;
   height: 50px; 
}

#flex-red {
    height: 100px;
    background-color: #ccc;
    border: 3px solid #000;
}

#email[readonly='true'] {
    background-color: red;
    color: white !important;
}

#email::placeholder {
    color: white !important;
}